fieldset,img{border:0 none;}
:focus{outline:0;}
:link,:visited,ins{text-decoration:none;}
body{min-width:1000px;font:12px/1.5 tahoma,sans-serif;}
body{text-align:left; margin:0px;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline!important;color:#FF6600!important;}
.gg_full {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 1024px;background:#e8e8e8
}
.gg_full .gg_fbtn {
	POSITION: absolute; WIDTH: 19px; DISPLAY: none; HEIGHT: 55px; TOP: 30px; right: -23px
}
.gg_full .gg_fbtn A {
	DISPLAY: block; BACKGROUND: url(gg_btn.png) no-repeat 0px 0px; HEIGHT: 55px; OVERFLOW: hidden
}
.gg_full .gg_fbtn .gg_fclose {
	BACKGROUND: url(gg_btn.png) no-repeat -19px 0px
}
.gg_full .gg_fcon {
	DISPLAY: none; HEIGHT: 768px;
}